<ion-view title="Time Clock">
  <ion-content overflow-scroll="true" padding="true" class="has-header bk-blue">

    <a ui-sref="settings" class="button button-positive button-block ">Employee Information</a>
    <ion-list>
      <ion-item class="item-divider"></ion-item>

      <ion-item>
        <div>
          <h3>Service Date:  {{mydate | date:'yyyy-MM-dd'}}</h3>
        </div>
      </ion-item>

      <ion-item class="item-divider"></ion-item>

      <ion-item>
        <p><button ng-show="StartOn" class="button button-primary space-below" ng-click="driveInClock()">Start New Job</button></p>
        <h4 ng-show="driveInClocked"> Travel Time To Site: </h4>
        <div ng-show="driveInClocked">
          <p>Clock In: {{driveInTime | date:'HH:mm:ss'}}<p>
        </div>
        <div ng-show="serviceInClocked">
          <p>Clock Out: {{serviceInTime | date:'HH:mm:ss'}}<p>
        </div>
      </ion-item>

      <ion-item>
        <h4> Service: </h4>

        <button ng-show="ServIn" class="button button-primary" ng-click="serviceInClock()">Clock In</button>

        <div ng-show="serviceInClocked">
          <p>Clock In: {{serviceInTime | date: 'HH:mm:ss'}}</p>
        </div>

        <div ng-show="serviceInClocked">
          <p>Location: {{serviceLoc}} {{error}}</p>
          <form ng-submit="updateLocation(empLocation);">
              <input type="text" id="empLocation" ng-model="empLocation" placeholder="Enter work site" />
          </form>
        </div>

        <button ng-show="ServOut" class="button button-primary" ng-click="serviceOutClock()">Clock Out</button>

        <div ng-show="serviceOutClocked">
          <p>Clock Out: {{serviceOutTime | date:'HH:mm:ss'}}<p>
        </div>
      </ion-item>

      <ion-item class="item-divider"></ion-item>

      <ion-item>
        <h4> Lunch: </h4>

        <button ng-show="!lunchStarted" class="button button-primary" ng-click="lunchClock('in')">Lunch Start</button>
        <div ng-show="lunchStarted">
          <p>Lunch Start: {{lunchStartTime | date: 'HH:mm:ss'}}</p>
          <p>Location: {{lunchLocation}} {{error}}</p>
        </div>

        <button ng-show="!lunchLogged" class="button button-primary" ng-click="lunchClock('out')">Lunch End</button>
        <div ng-show="lunchLogged">
          <p>Lunch End: {{lunchEndTime | date: 'HH:mm:ss'}}</p>
        </div>
      </ion-item>

      <ion-item class="item-divider"></ion-item>

      <ion-item>
        <h4>Close Out Day:</h4>
        <form>
          <label for="perDiem">
            <input type="checkbox" name="perDiem" id="perDiem"> Per Diem Requested
          </label>
        </form>
        <button class="button button-primary" ng-click="closeOut()">Clock Out</button>
      </ion-item>

      <ion-item class="item-divider"></ion-item>

    </ion-list>
  </ion-content>
</ion-view>
