<ion-view title="Time Clock">
  <ion-content overflow-scroll="true" padding="true" class="has-header bk-blue">

    <a ui-sref="settings" class="button button-positive button-block ">Employee Information</a>
    <ion-list>
      <ion-item class="item-divider"></ion-item>

      <ion-item>
        <div>
          <h3>Service Date:  {{mydate | date:'yyyy-MM-dd'}}</h3>
        </div>
      </ion-item>

      <ion-item class="item-divider"></ion-item>

      <ion-item>
        <button ng-show="StartOn" class="button button-calm" ng-click="driveInClock()">Start New Job</button>
        <p class="help" ng-show="StartOn">Click to start recording time for a job.</p>

        <h4 ng-show="driveInClocked && !StartOn"> Travel Time To Site: </h4>
        <div ng-show="driveInClocked && !StartOn">
          <p>Clock In: {{driveInTime | date:'HH:mm'}}<p>
        </div>
        <div ng-show="serviceInClocked && !StartOn">
          <p>Clock Out: {{serviceInTime | date:'HH:mm'}}<p>
        </div>
      </ion-item>

      <ion-item>
        <h4> Service: </h4>

        <button class="button button-calm" ng-show="ServIn" ng-click="serviceInClock()">Clock In</button>
        <p class="help" ng-show="ServIn">Click on job arrival.</p>

        <div ng-show="serviceInClocked">
          <p>Clock In: {{serviceInTime | date: 'HH:mm'}}</p>
        </div>

        <div ng-show="serviceInClocked">
          <p>Location: {{serviceLoc}} {{error}}</p>
        </div>

        <form ng-show="serviceInClocked && !serviceOutClocked">
          <p class="help">Enter job number/work site notes before clocking out.</p>

          <input type="text" id="empNotes" style="padding:5px; width: 95%; border: 1px solid #979797;"
                 ng-model="empNotes" placeholder="Enter Notes" />
          <p><button class="button button-calm" ng-show="ServOut" ng-click="serviceOutClock(empNotes)">Clock Out</button></p>
        </form>

        <div ng-show="serviceOutClocked">
          <p>{{displayedNote}}</p>
          <p>Clock Out: {{serviceOutTime | date:'HH:mm'}}<p>
        </div>
      </ion-item>

      <ion-item class="item-divider"></ion-item>

      <ion-item>
        <h4> Lunch: </h4>

        <button class="button button-calm" ng-show="!lunchStarted" ng-click="lunchClock('in')">Lunch Start</button>
        <div ng-show="lunchStarted">
          <p>Lunch Start: {{lunchStartTime | date: 'HH:mm'}}</p>
          <p>Location: {{lunchLocation}} {{error}}</p>
        </div>

        <button class="button button-calm" ng-show="!lunchLogged" ng-click="lunchClock('out')">Lunch End</button>
        <div ng-show="lunchLogged">
          <p>Lunch End: {{lunchEndTime | date: 'HH:mm'}}</p>
        </div>
      </ion-item>

      <ion-item class="item-divider"></ion-item>

      <ion-item>
        <h4>Close Out Day:</h4>
        <form>
          <label for="perDiem">
            <input type="checkbox" name="perDiem" id="perDiem"> Per Diem Requested
          </label>
        </form>
        <button class="button button-calm" ng-click="closeOut()">Clock Out</button>
        <p class="help">Click to email hours for the day.</p>
      </ion-item>

      <ion-item class="item-divider"></ion-item>

    </ion-list>
  </ion-content>
</ion-view>
